<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--import-->
    <import resource="beans1.xml"/>
    <import resource="beans2.xml"/>
    <import resource="beans3.xml"/>
    <import resource="spring-dao.xml"/>

    <!--一个类的实例化tag spring依靠这个tag实例化对象-->
    <bean id="hello" class="com.yangsen.pojo.Hello">
        <!--给属性设置默认值 Hello Spring~-->
        <property name="message" value="Hello Spring~"/>
    </bean>
    <bean id="UserDaoImpl" class="com.yangsen.dao.UserDaoImpl"/>
    <bean id="UserDaoImplOfEs" class="com.yangsen.dao.UserDaoImplOfEs"/>
    <bean id="UserDaoImplOfMysql" class="com.yangsen.dao.UserDaoImplOfMysql"/>
    <bean id="UserServiceImpl" class="com.yangsen.service.UserServiceImpl">
        <!--name是属性名，ref表示引用xml注册的类的ID，比如上面的UserDaoImpl        -->
        <property name="userDao" ref="UserDaoImpl"/>
    </bean>

    <!--使用构造器传参-->
    <bean id="UserServiceImpl2" class="com.yangsen.service.UserServiceImpl" name="name1 name2,name3">
        <constructor-arg ref="UserDaoImpl"/>
    </bean>

    <alias name="UserServiceImpl2" alias="justIsName"/>
</beans>